<html>
   <body>
      <form method="POST" action="{{ url_for('user_info') }}">
         <h3>회원가입</h3>
         Id<br>
         <input type = "text" name = "user_id" /></br>

         Password<br>
         <input type = "text" name = "user_password" /></br>
         
         Birth<br>
         <input type = "text" name = "birth"/></br>


         Name<br>
         <textarea name = "name" ></textarea><br>
         <input type = "submit" value = "membership"/><br>
      </form>
   </body>
</html>